	form{
		position:relative;
		left:60%;
		top:40px;
		width:250px;
		height:auto;
		text-align : center;
		font-family:Ink Free,Courier,Times;
	}
	
	fieldset{
		border:none;
		width:250px;
		
	}
	
	input{
		border:none;
		text-align:center;
		font-size:16px;
		font-family:Times,Arial;
	}
	
	.text{
		width:180px;
	}
	.linear{
		background-image:linear-gradient(to top left,#FFCCCC,#FFCC33);
	}
	body{
		
		font-size:20px; 
	}
	
	#bg {
		position:absolute;
		left:0px;
		width:1550px;
		height:680px;
		float:right;
	}
	
	#button{ margin-top:0px; height:40px;}
	#button #submit 
	{
	    
	    text-decoration:none;
		background:#2f435e;
		color:#f2f2f2;
		
		padding: 10px 30px;
		font-size:16px;
		font-family: Courier,Arial,Helvetica,Verdana,sans-serif;
		font-weight:bold;
		border-radius:3px;
		
		-webkit-transition:all linear 0.30s;
		-moz-transition:all linear 0.30s;
		transition:all linear 0.30s;
		
		}
	 #button #submit:hover { 
		 background:#385f9e; 
		 padding:10px 30px;
	 }
	 
	 legend{
	 font-size:30px;
	 font-family:Times,Arial;
	 color:white;
	 }