.shipbox {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.shipbox .ship {
	display: flex;


	padding: 0.8rem;
	margin: 15px;
	box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	overflow: hidden;
	min-width: 250px;
	min-height: 200px;

}


.shipbox .ship .ship-img {
	width: 245px;
	height: 170px;
	padding: 5px;
	overflow: hidden;
	perspective: 1000px;
	position: relative;
	margin: 0 auto;
}

.shipbox .ship .ship-img img {
	max-width: 240px;
	max-height: 165px;
	vertical-align: middle;
	z-index: 5;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.shipbox .ship .ship-img img, #button1, #button2, #button3 {
	position: absolute;
	transition: all 0.6s ease-in-out;
}

.shipbox .ship .ship-img #button1 {
	position: relative;
	opacity: 0;
}

.shipbox .ship .ship-img #button2 {
	position: relative;
	opacity: 0;
}

.shipbox .ship .ship-img #button3 {
	position: relative;
	opacity: 0;
}

.shipbox .ship .ship-img:hover img {
	transform: translateY(-60px) rotateX(90deg);
	opacity: 0;
}

.shipbox .ship .ship-img:hover #button1 {
	opacity: 1;
}

.shipbox .ship .ship-img:hover #button2 {
	opacity: 1;
}

.shipbox .ship .ship-img:hover #button3 {
	opacity: 1;
}
